/* shared style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FFF;
    border: 0;
    padding: 20px 25px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;

}

/* header style */
header {
    position: relative;
}

.header-img img {
    width: 100%;
    height: auto;
}

.header-text {
    position: absolute;
    top: 25%;
    right: 0;
    max-width: 494px;
    text-align: right;
    align-items: center;
    padding-right: 230px;
}

.header-title {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.header-description {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

/* mains style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.failure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 105px;
    margin-top: 140px;
}

.failure-list li {
    list-style: none;
    padding-bottom: 8px;
}

.failure-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0;
}

/* plans styles */
.plans {
    margin-top: 120px;
    margin-bottom: 130px;
}

.plans>h3 {
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.plans-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(114, 28, 71);
    border-radius: 15px;
    padding: 30px;
}

.plans-title {
    text-align: center;
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.plans-description {
    text-align: center;
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}

/* positive mindset styles */
.positive-mindset {
    background-image: linear-gradient(90deg, #358f48 0%, rgba(0, 95, 172, 0.00) 100%), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 60px;
    margin-bottom: 130px;
    border-radius: 10px;
}

.positive-container>h3 {
    color: #ecd81d;
    font-size: 40px;
    font-weight: 700;
}

.positive-container>button {
    color: #ecae04;
}

/* footer styles */
footer {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #151414;
    background-position: cover;
    padding: 130px 230px;
}

.left-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 16px;
}

.left-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

.right-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}
.footer-column-right input{
    border: 1px solid white;
    background-color: black;
    color:white;
    padding: 20px 150px 20px 20px;
    border-radius: 8px;
    margin-bottom: 16px;
}
.right-btn{
    border-radius: 5px;
    background: #FFF;
    border: 0;
    padding: 20px 25px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
}
/* done */